.appHeader {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(5, 42, 73, 0.08);
  position: fixed;
  min-width: 100%;
  z-index: 5;
  /* padding: 0.7rem 2rem; */
}

.appHeaderUser{
  float:right;
  font-weight: normal !important;
}

.appNav{
  position: fixed;
  overflow: auto;
  width: 230px;
  background-color: #052A49;
  min-height: 100%;
  padding-top: 2rem;
  transition-duration: 0.4s;
}

.appNavItem {
  padding: 0 8px;
  color:lightgray;
}

.appNavItem:hover{
  transition-duration: 0.5s;
  color:#052A49;
  background-color: orange;
  box-shadow: 10px;

}

.appNavItemButton {
  @apply cursor-pointer;
}

.appMain {
  /* background-color: aquamarine; */
  padding-top: 3rem;
  min-height: 90vh;
}

.mainContent, .copyRight {
  margin-left: 230px;
}
