.dropdown {
  @apply relative 
}

.dropdown-menu.show {
  @apply block
}

.dropdown-menu {
  /* padding:.5rem 0; */
  @apply hidden absolute bg-white z-50 rounded shadow-lg
}

.dropdown-left {
  right:0;
}

.dropdown-right {
  left:0;
}

.dropdown-menu > * {
  padding:.25rem 1.5rem;
  white-space: nowrap;
  @apply block
}

.dropdown-menu > *:hover { 
  @apply bg-gray-200
}