@import './Dropdown.css';

body {
    font-family: 'Poppins';
    color: #002D40;
    background-color: #f0f4f6;
}

button, button:focus, button:target {
    outline: none;
}

input, input:focus, input:target {
    outline: none;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight:bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

thead {
    background-color: #E5E5E5;
}

th, td {
    text-align: left;
    /* border: 1px solid #828282; */
    font-size: 16px;
    /* white-space: nowrap; */
    padding: 10px;
}
.tdbpadd{
    text-align: left;
    border: 1px solid #828282;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px;
}

.tdbpup{
    text-align: left;
    border: 1px solid #828282;
    font-size: 12px;
    white-space: nowrap;
    padding: 10px;
}

.thbpadd {
    text-align: left;
    border: 1px solid #828282;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px;
}

.thbup {
    text-align: left;
    border: 1px solid #828282;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px;
}
.tdbp {
    text-align: left;
    border: 1px solid #828282;
    font-size: 14px;
    /* white-space: nowrap; */
    padding-left: 18px;
    width:240px;
}
.thbp {
    text-align: left;
    border: 1px solid #828282;
    font-size: 14px;
    /* white-space: nowrap; */
    /* padding: 10px; */
    width:240px;
}
.background-blur {
    background-image: url('/background/blur-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-blur-2 {
    background-image: url('/background/blur-background2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.popup{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items:center;

}

.buttonGambar{
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 50px;
    margin-right: 10px;
    border: 1px solid white;
    width:50px;
}

.buttonGambar:hover {
    background-color: white;
    border: 1px solid #052A49;
}

.buttonEdit{
    background-color: white;
    width:50px;
    border-radius:50%;
    border:1px solid lightgray;
    box-shadow: 2px 5px 4px #888888;
    transition-duration: 0.4s;
}

.buttonEdit:hover {
    background-color: lightgray;
}

.popup-inner-add-deliverables{
    width: 700px;
    height: 450px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .popup-inner-add-deliverables{
    width: 700px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .popup-inner-delete-project{
    width: 520px;
    height: 160px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .popup-inner-add-brand-promise{
    font-size: 12px;
    width: 980px;
    height: 630px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .popup-inner-update-brand-promise{
    font-size: 8px;
    width: 1200px;
    height: 700px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .popup-inner-update-deliverables{
    width: 700px;
    height: 450px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }


  .popup-inner-update-status-ticket{
    width: 700px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }



.delete-inner{
    width: 700px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  /* mouse over link */
.link:hover {
    color: orange;
  }
  
.navy{
    background-color: #052A49;
    color:white;
    transition-duration: 0.4s;
    border:2px solid #052A49
}

.navy-secondary{
    background-color: white;
    color:#052A49;
    transition-duration: 0.4s;
    border:2px solid #052A49
}

.red{
    background-color: #b91c1c;
    color:white;
    transition-duration: 0.4s;
    border:2px solid #b91c1c;
}
.red:hover{
    background-color: white;
    color:#b91c1c;
    border:2px solid #b91c1c;
}

.fab{
    background-color: #052A49;
    color:white;
    transition-duration: 0.4s;
}

.fab:hover{
    background-color: white;
    color:#052A49;
}
.spacingButtonRight{
    margin-right: 20px;
}
.navy:hover{
    background-color: white;
    color:#052A49;
    border:2px solid #052A49
}

.navy-secondary:hover{
    background-color:#052A49;
    color:white;
    border:2px solid #052A49
}

.warning{
    color: red;
}

.good{
    color: green;
}
/* For loading */
.loading:after {
    content: ' ...';
    animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: white;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 white;}}
/**/
